body{
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(to right,rgb(189,189,255)), rgb(141, 103, 109);
    padding: 0; margin: 0;
}

header{
    text-align: center;
}

h1{
    background-color: rgb(35, 233, 28);
    padding: 30px; 
    margin: 0;
    color: rgb(27, 28, 31);
}

h2{
    font-size: 30px;
    margin: 0;
    padding: 10px;
}

.conteiner{
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.footer{
    background-color: black;
    color: rgb(219, 220, 236);
    padding: 10px;
    text-align: center;
    clear: both;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(237, 226, 25);
}
li{
    float: left
}
li a{
    display:block;
    color: rgb(14, 13, 13);
    text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover:not(.active) {
    background-color: rgb(229, 228, 240);
}
body{
    background-image: url(assets/img/verde.png);
    background-repeat: repeat;
    background-attachment: fixed
}
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3px 0;


    
}
    nav ul{
        display: flex;
        list-style-type: none;
    
    }

    nav ul li{
        margin-right: 0px;

    }

    nav ul li a{

        text-decoration: none;
        color: black;
        font-weight: 300;
        font-family: Georgia, 'Times New Roman', Times, serif;

    }
    
#galeria img{
    width:  100%;
    height: 100%;
    object-fit: cover;

}

.fotoa{
    grid-area: fotoa;

}

.fotob{
    grid-area: fotob;

    

}
.fotoc{
    grid-area: fotoc;

}

.fotod{
    grid-area: fotod;

}

.fotoe{
    grid-area: fotoe;
}

.fotof{
    grid-area: fotof;
}


#galeria{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 20vh);
    grid-template-areas:
    "fotoa" "fotob" "fotoc" "fotod" "fotoe" "fotof";


}


@media (width > 768px){
    #galeria{
        grid-template-columns: 1fr 2fr ;
        grid-template-rows: repeat(4, 30vh);
        grid-template-areas: 
        "fotoa fotob"
        "fotoc fotod"
        "fotoe fotof";
    }
}

@media (width > 1200px) {
    #galeria{
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: repeat(3,33hv);
        grid-template-areas:
        "fotoa fotob fotoc"
       "fotod fotoe fotof";


    }

    
}






    


#galeria img{
    filter: grayscale(1)
}
#galeria img:hover{
    filter:none;
}
div ::after{
    content:"--------------"
    display:block;
    widht:100%;
    height:5px;
    background-color: orange;
}


.realmadrid{
    padding: 20px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.realmadrid figure{
    width: 25%;
border: solid 2px black;
margin-bottom: 20px;
padding: 10px 10px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.realmadrid figure img{
border: solid blue 2px;
display: block;
margin: auto;

}
.realmadrid figure figcaption{
    color: rgb(23, 11, 129);
    font-size: 1.4em;
    text-align: center;
    font-weight: bold;

}
.realmadrid figure p{
    text-align: center;
}

